__pycache__/
*.bin
*.safetensors
/LLM_CONFIG/configGPT2.json
/LLM_CONFIG/configLLM_RAG.json
/LLM_CONFIG/configOpenAI.json
openai_key.txt
.vscode/
TOPICS/simple_motion
TOPICS/electrostatics
TOPICS/nuclear_physics
TOPICS/gravitation
QdrantDB